flows1.json
[{"id":"adcf6914.195898","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"10c5628e.4c6aed","type":"inject","z":"adcf6914.195898","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":160,"wires":[["f468be02.58e34"]]},{"id":"f468be02.58e34","type":"function","z":"adcf6914.195898","name":"Payload","func":"msg.headers={\n    deviceKey: \"8xsMRJdmpJ4TleD3\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["891748b3.ecda48"]]},{"id":"891748b3.ecda48","type":"http request","z":"adcf6914.195898","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DHdzYoP0/datachannels/LEDControl/datapoints.csv","tls":"","proxy":"","authType":"","x":570,"y":220,"wires":[["df97b35a.4f138","ed20b67a.8e0158"]]},{"id":"df97b35a.4f138","type":"http response","z":"adcf6914.195898","name":"","statusCode":"","headers":{},"x":770,"y":280,"wires":[]},{"id":"ed20b67a.8e0158","type":"debug","z":"adcf6914.195898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":220,"wires":[]}]