flows 2.json
[{"id":"c2ac5957.c359a8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6168609d.a2051","type":"inject","z":"c2ac5957.c359a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":160,"wires":[["4821591a.ba72f8"]]},{"id":"4821591a.ba72f8","type":"function","z":"c2ac5957.c359a8","name":"","func":"msg.headers={\n    deviceKey: \"8xsMRJdmpJ4TleD3\"\n    };\n    \nmsg.payload= \"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["ef4da248.c2149"]]},{"id":"ef4da248.c2149","type":"http request","z":"c2ac5957.c359a8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DHdzYoP0/datapoints.csv","tls":"","proxy":"","authType":"","x":530,"y":220,"wires":[["7c74ec15.a66094","2dccafab.b093d"]]},{"id":"2dccafab.b093d","type":"http response","z":"c2ac5957.c359a8","name":"","statusCode":"","headers":{},"x":760,"y":220,"wires":[]},{"id":"7c74ec15.a66094","type":"debug","z":"c2ac5957.c359a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":300,"wires":[]}]