Flow 1.json
[{"id":"a6c9e883.d81d48","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"93aabbe2.c22438","type":"http in","z":"a6c9e883.d81d48","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["4055d4ec.af7f1c"]]},{"id":"49c396cb.73a4a8","type":"rpi-gpio in","z":"a6c9e883.d81d48","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":100,"y":380,"wires":[["b61a0dc3.b1f91"]]},{"id":"b61a0dc3.b1f91","type":"function","z":"a6c9e883.d81d48","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["b7e4868d.0602c8"]]},{"id":"4055d4ec.af7f1c","type":"function","z":"a6c9e883.d81d48","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["fddc594e.d86998","b7e4868d.0602c8"]]},{"id":"fddc594e.d86998","type":"http response","z":"a6c9e883.d81d48","name":"","statusCode":"","headers":{},"x":510,"y":180,"wires":[]},{"id":"b7e4868d.0602c8","type":"debug","z":"a6c9e883.d81d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":340,"wires":[]}]