mqtt flow1.json
[{"id":"7d011b0b.15f6c4","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"28e1cbcf.1f7194","type":"inject","z":"7d011b0b.15f6c4","name":"","topic":"","payload":",,25.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":207.60000228881836,"y":182.00000286102295,"wires":[["8d215eaa.ba768"]]},{"id":"7f7a6ce5.b1eba4","type":"inject","z":"7d011b0b.15f6c4","name":"","topic":"","payload":",,20.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":198.60000610351562,"y":290,"wires":[["8d215eaa.ba768"]]},{"id":"8d215eaa.ba768","type":"mqtt out","z":"7d011b0b.15f6c4","name":"","topic":"mcs/DHdzYoP0/8xsMRJdmpJ4TleD3/Temperature","qos":"2","retain":"","broker":"4cc1dfaa.9e191","x":658.6000366210938,"y":233,"wires":[]},{"id":"4cc1dfaa.9e191","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]