mqtt flow2.json
[{"id":"c27b0ab6.968968","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"c0243e5c.0473","type":"mqtt in","z":"c27b0ab6.968968","name":"","topic":"mcs/DHdzYoP0/8xsMRJdmpJ4TleD3/+","qos":"2","datatype":"auto","broker":"4cc1dfaa.9e191","x":198.60000610351562,"y":111,"wires":[["cd7ce0b5.278d"]]},{"id":"cd7ce0b5.278d","type":"csv","z":"c27b0ab6.968968","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":482,"y":166,"wires":[["eab9cd8f.3e524"]]},{"id":"eab9cd8f.3e524","type":"change","z":"c27b0ab6.968968","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":644.6000366210938,"y":175,"wires":[["b8398012.9e5ed"]]},{"id":"b8398012.9e5ed","type":"ui_gauge","z":"c27b0ab6.968968","name":"","group":"90538829.976ab8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":783,"y":196,"wires":[]},{"id":"4cc1dfaa.9e191","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"90538829.976ab8","type":"ui_group","z":"","name":"Status","tab":"885e5f5d.8c586","order":1,"disp":true,"width":"6","collapse":false},{"id":"885e5f5d.8c586","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]